@font-face {
    font-family: 'Punavuor';
    src: url('../assets/fonts/PUNAVUOR.TTF');
}
@font-face {
    font-family: 'Isocpeur';
    src: url('../assets/fonts/ISOCPEUR.ttf');
}
html, body{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    overflow:hidden;
    position:fixed;
    color:#fff;
}
.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Home */
#header{
    height:10%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    background-color:#555;
    box-shadow:0px 0px 20px 5px #000;
    z-index: 5;
}
#navigationBurger{
    position: absolute;
    width: 2rem;
    padding-bottom: 2rem;
    top: calc(50% - 1rem);
    margin-left: 2vw;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../assets/img/burger.png');
}
#title{
    position: absolute;
    height: 100%;
    width: 60%;
    left: 20%;
    cursor: pointer;
    font-family: 'Punavuor';
    font-size: 1.5em;
    color:#e5e5e5;
    text-shadow: #e5e5e5 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
#avatarContainer{
    position: absolute;
    right: 0;
    width: 3rem;
    padding-bottom: 3rem;
    margin-right: 2vw;
    top: calc(50% - 1.5rem);
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../assets/img/avatar.png');
}
#mainContainer{
    position: absolute;
    top:10%;
    left:0;
    height:90%;
    width:100%;
    background-color: #191517;
    z-index: 3;
    overflow: hidden;
}
#navBar{
    position: absolute;
    top:10%;
    height: 90%;
    width:20%;
    left:-25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#333;
    text-shadow: #333 0px 0px 10px;
    font-family: 'Isocpeur';
    font-size: 1.5em;
    transition-property: left;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    background-color: #a5a5a5;
    box-shadow: #000 0px 0px 10px 5px;
    z-index: 4;
    font-weight:bold;
}
.linkCard{
    cursor: pointer;
    width:100%;
    padding-top:5%;
    padding-bottom:5%;
    box-shadow: #000 0px 0px 5px;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: linear;
}
.linkCard:hover{
    background-color:chartreuse;
}
#showcase{
    width:100%;
    height:100%;
}
.showcaseImage{
    position: absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: linear;
    opacity: 0;
}
#welcome1 {
    opacity: 1;
}

/* Lobby */
#progress {
    margin-top: 3vh;
    width: 15%;
    height: 1vh;
}
#fetchingFiles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(211, 211, 211);
    text-shadow: 0 0 4px black;
    font-size: 1.3em;
    font-family: Isocpeur;
}
#lobbyContainer {
    pointer-events: none;
    visibility: hidden;
    background-color: rgb(150, 150, 150);
}
#lobbyHeader {
    position: absolute;
    width: 100%;
    height: 14%;
    top:0;
}
#startButton {
    position: absolute;
    width: 15%;
    height: 50%;
    left: 2vw;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(255, 166, 0);
    border-radius: 999px;
    box-shadow: 0 0 7px 1px black;
    font-family: Punavuor;
    font-weight: bold;
    color: black;
    text-shadow: 0 0 5px red;
    transition: color .2s linear, background-color .2s linear, box-shadow .2s linear;
    user-select: none;
    font-size: 1.1em;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#startButton:hover {
    color: rgb(142, 230, 0);
    background-color: rgba(255, 166, 0, 0.616);
    box-shadow: 0 0 3px 1px black;
}
#userHeader {
    position: absolute;
    width: 10%;
    height: 50%;
    top: 25%;
    right: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-family: Punavuor;
    font-weight: bold;
    color: cornsilk;
    text-shadow: 0 0 5px black;
    font-size: 1.2em;
}
#statsContainer {
    position: absolute;
    width: 30%;
    height: 86%;
    top: 14%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2vw;
    user-select: none;
}
.statItem {
    position: relative;
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.statKey {
    font-family: Punavuor;
    font-weight: bold;
    color: rgb(218, 230, 52);
    text-shadow: 0 0 5px black;
    font-size: 1.5em;
}
.statValue {
    font-family: Isocpeur;
    font-weight: bold;
    font-size: 1.4em;
    color: rgb(255, 208, 0);
    text-shadow: 0 0 5px black;
}
.loadingIcon {
    width: 1em;
    height: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../assets/img/loadingIcon.gif');
}
#gameName {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.3em;
    color: white;
    font-family: Punavuor;
    text-shadow: 0 0 5px black;
    font-weight: bold;
    margin-bottom: 2vh;
    margin-right: 2vh;
    user-select: none;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .6;
    }
}
.matching {
    animation-name: blink;
}
/* Room */
#roomContainer {
    pointer-events: none;
    visibility: hidden;
    background-color: rgb(145, 145, 145);
}
#playersContainer {
    position: absolute;
    width: 75%;
    height: 75%;
    top: 12.5%;
    left: 12.5%;
    background-color: rgb(73, 73, 73);
    opacity: .8;
}
#playerListContainer {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.playerListItem {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 3vh;
}
.playerIcon {
    width: 2em;
    height: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 3vw;
}
.playerName {
    margin-left: 1em;
    font-size: 1.2em;
    font-family: Isocpeur;
    color: white;
    text-shadow: 0 0 3px black;
}
#footerContainer {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 90%;
    color: rgb(255, 153, 0);
    text-shadow: 0 0 5px black;
    font-family: Isocpeur;
    font-weight: bold;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Game */
#gameContainer {
    pointer-events: none;
    visibility: hidden;
}
#renderCanvas{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
#fpsLabel {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #999;
    cursor: default;
    height:auto;
    width:auto;
}
/* Leaderboard */
#leaderboardContainer {
    pointer-events: none;
    visibility: hidden;
}
/* Lost */
#transparentCover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s linear;
    transition-delay: 3s;
}
#matchEndContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s linear;
    transition-delay: 3s;
}
#winloseTitle {
    font-size: 8em;
    font-family: Isocpeur;
    color: rgb(255, 208, 0);
    text-shadow: 0 0 4px red;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 4vh;
}
#pointsTitle, #killlsTitle {
    font-family: Isocpeur;
    font-size: 3em;
    color: rgb(170, 170, 170);
    margin-left: 2vw;
    margin-bottom: 2vh;
}
#pointsValue, #killsValue {
    font-family: Isocpeur;
    font-size: 5em;
    color: rgb(255, 208, 0);
    text-shadow: 0 0 4px black;
    margin-left: 2vw;
    margin-bottom: 3vh;
}
#timerContainer {
    position: absolute;
    bottom: 2vh;
    right: 20vw;
    color: white;
    text-shadow: 0 0 4px black;
    font-size: 3em;
    font-family: Isocpeur;
}
#lobbyButtonContainer {
    position: absolute;
    right: 2vw;
    bottom: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 999px;
    background-color: rgb(255, 187, 0);
    color: black;
    text-shadow: 0 0 4px red;
    font-family: Isocpeur;
    font-size: 3em;
    box-shadow: 0 0 5px 1px black;
    cursor: pointer;
    transition: opacity .2s linear, box-shadow .2s linear;
}
#lobbyButtonContainer:hover {
    opacity: .9;
    box-shadow: 0 0 7px 2px black;
}